<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431981162280-qrgtdonc2tgo2e9cste739jh0tfm1nev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431981162280-qrgtdonc2tgo2e9cste739jh0tfm1nev</string>
	<key>API_KEY</key>
	<string>AIzaSyCtgPBYCxgHUy-oEvABjkfDZjYtOFZ0sns</string>
	<key>GCM_SENDER_ID</key>
	<string>431981162280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>studentproject-3eb54</string>
	<key>STORAGE_BUCKET</key>
	<string>studentproject-3eb54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431981162280:ios:6115f7aa95976bf3c92a1d</string>
</dict>
</plist>